.react-slideshow-container+ul.indicators{
	margin: 0;
}

.react-slideshow-container+ul.indicators li{
	padding: 7px;
}

.indicators{
	position: absolute;
	bottom: 7px;
	left: 50%;
	z-index: 1;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before{
	background: white;
	opacity: 1;
    height: 10px;
    width: 10px;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:{
    opacity: 0.4;
}

